header {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.imgheader {  
display: flex;
justify-content: center;
align-items: center;
margin-top: 19px;
}
.textmain { 
    
    font-size: 30px;
    text-align: center;
}
.color {    
    margin-top: 10px;
    width: 552px;
    height: 1px;
background-color: lightgray;
}
section{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
}
.nav{
    display: flex;
    flex-direction: column;
}
.price{
    margin: 10px 0px 10px 0px;
    color: rgb(98, 170, 252);
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(72,  157, 255);
    border-radius: 15px;
    height: 48px;
    width: 131px;
    transition: 0.3s;
}
.column{
    display: flex;

}
.column1{
      display: flex;
}
p{
    font-size: 2rem;
}
.button:hover{
    background-color: rgb(98, 170, 252);
}

.imgfooter {    
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}
.p2 {   
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.footer2 {  
    margin-top: 40px;
}

